*{
    margin: 5;
    padding: 5px;
}

body{
    background-color: rgb(187, 105, 187);
    color: rgb(255, 255, 255);
}

.col{
    background-color: rgb(189, 15, 73);
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-8{
    background-color:rgb(189, 15, 73) ;
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-4{
    background-color: rgb(189, 15, 73);
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-md-8{
    background-color:rgb(189, 15, 73) ;
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-sm-6{
    background-color: rgb(189, 15, 73);
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-md-4{
    background-color: rgb(189, 15, 73);
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-sm-3{
    background-color:rgb(189, 15, 73) ;
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-lg-5{
    background-color:rgb(189, 15, 73) ;
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-sm-4{
    background-color:rgb(189, 15, 73) ;
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}

.col-lg-8{
    background-color:rgb(189, 15, 73) ;
    border: 1px solid rgb(255, 255, 255); 
    padding: 10px;
}