*{
    margin: 5px;
    padding: 5px;
    background-color: rgb(204, 161, 245);
}



body{
    background-color: rgb(246, 129, 149);
    color: rgb(240, 171, 231);
}

.col{
    background-color: rgb(127, 185, 255);
    border: 1px solid rgb(66, 156, 235);
    padding: 10px;
}

.col-md-8{
    background-color: rgb(252, 145, 163);
    border: 1px solid pink;
    padding: 10px;

}

.col-md-4{
    background-color: rgb(234, 109, 251);
    border: 1px solid rgb(234, 109, 251);
    padding: 10px;
}


.col-sm-3{
    background-color:rgb(234, 109, 251) ;
    border: 1px solid  rgb(234, 109, 251);
    padding: 10px;
}

.col-sm-9{
    background-color: rgb(161, 255, 177);
    border: 1px solid rgb(161, 255, 177) ;
    padding: 10px;
}

.col-8{
    background-color: rgb(161, 255, 177);
    border: 1px solid rgb(161, 255, 177) ;
    padding: 10px;
}

.col-4{
    background-color: rgb(161, 255, 177);
    border: 1px solid rgb(161, 255, 177) ;
    padding: 10px;
}

.col-sm{
    background-color: rgb(161, 255, 177);
    border: 1px solid rgb(161, 255, 177) ;
    padding: 10px;
}

.col-md{
    background-color: rgb(161, 255, 177);
    border: 1px solid rgb(161, 255, 177) ;
    padding: 10px;
}

.col-lg{
    background-color: rgb(161, 255, 177);
    border: 1px solid rgb(161, 255, 177) ;
    padding: 10px;
}

.col-lg-8{
    background-color: rgb(140, 109, 251);
    border: 1px solid rgb(140, 109, 251) ;
    padding: 10px;
}

.col-lg-5{
    background-color:rgb(234, 109, 251) ;
    border: 1px solid rgb(234, 109, 251) ;
    padding: 10px;
}

.col-sm-4{
    background-color: rgb(140, 109, 251);
    border: 1px solid  rgb(140, 109, 251);
    padding: 10px;
}

.col-3{
    background-color:rgb(161, 255, 177) ;
    border: 1px solid rgb(161, 255, 177) ;
    padding: 10px;
}